<div id="header-nav">
    <header>
        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li class="sep">•</li>
                <li><a href="#about">About</a></li>
                <li class="sep">•</li>
                <li style="display: block;"><img src="/assets/ryandeming_logo.webp" alt="logo" crossorigin="anonymous"></li>
                <li class="sep">•</li>
                <li><a href="#work">Work</a></li>
                <li class="sep">•</li>
                <li><a href="mailto:inquiries@ryandeming.com" target="_blank">Contact</a></li>
            </ul>
        </nav>
    </header>
</div>

<section id="home" class="hero bg">
    <div class="video-container">
        <img id="video-placeholder" src="/assets/background.webp" alt="background image" decoding="async" style="margin: 0 auto; mix-blend-mode: plus-lighter; width: 480px; height: 360px;" crossorigin="anonymous">
        <video id="background-video" muted loop playsinline disablePictureInPicture preload="metadata" style="margin: 0 auto; mix-blend-mode: plus-lighter; width: 480px; height: 360px; display: none; pointer-events: none;">
            <source src="/assets/background.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="overlay-text">
            <h1>Web Design & Development</h1>
            <span class="name">Ryan Deming</span>
            <h2>Connecting your brand with the world</h2>
        </div>
    </div>
</section>
<section id="about" class="about-me">
    <div class="container">
        <div class="about-me-content">
            <div class="overlay-panel">
                <h2>About Me</h2>
                <p>Hi, I'm Ryan - a web designer and developer with over <strong>a decade of professional experience</strong>, specializing in crafting seamless digital experiences through web design, development, and SEO.</p> 
                <p>I help businesses build their online presence with <strong>custom solutions that drive results</strong>.</p>
            </div>
            <div class="resume">
                <div class="job">
                    <div class="date">2021 — PRESENT</div>
                    <div class="role">
                        <h3>Senior Developer · Freerateupdate</h3>
                        <p>Build and maintain internal products that enhance operational efficiency, working closely with cross-functional teams, including developers, designers, and project managers. Advocating for scalable solutions by introducing new features and ensuring alignment with evolving business goals.</p>
                        <ul class="technologies">
                            <li>Javascript</li>
                            <li>Angular</li>
                            <li>Vue</li>
                            <li>PHP</li>
                            <li>Codeigniter</li>
                            <li>Laravel</li>
                            <li>WordPress</li>
                            <li>Figma</li>
                        </ul>
                    </div>
                </div>
                <div class="job">
                    <div class="date">2018 — 2021</div>
                    <div class="role">
                        <h3>Lead Developer · Sagefrog</h3>
                        <p>Mentored and managed a team of developers, providing guidance, conducting quarterly performance reviews, and fostering growth to maintain consistent quality across projects. Collaborated with account managers, designers, and clients to accurately define technical requirements and ensure seamless project execution.</p>
                        <ul class="technologies">
                            <li>Javascript</li>
                            <li>jQuery</li>
                            <li>Vue</li>
                            <li>PHP</li>
                            <li>WordPress</li>
                        </ul>
                    </div>
                </div>
                <div class="job">
                    <div class="date">2016 — 2018</div>
                    <div class="role">
                        <h3>Fullstack Developer · Fyra</h3>
                        <p>Designed and developed client websites leveraging WordPress and Laravel, delivering scalable and user-friendly solutions.</p>
                        <ul class="technologies">
                            <li>Javascript</li>
                            <li>jQuery</li>
                            <li>PHP</li>
                            <li>WordPress</li>
                            <li>Laravel</li>
                        </ul>
                    </div>
                </div>
                <a href="/assets/ryan-deming-resume-2024.pdf" class="btn" target="_blank" style="margin: 0 auto;">Download Resume</a>
            </div>
        </div>
    </div>
</section>
<section id="work" class="portfolio">
    <div class="container">
        <div class="portfolio-images">
            <h2>Portfolio</h2>
            <div class="portfolio-image active fade-in" data-id="1">
                <img src="/assets/portfolio-1.webp" alt="villanova landscaping website preview" height="354px" width="590px" style="max-width: 100%;" crossorigin="anonymous">
            </div>
            <div class="portfolio-image" data-id="2">
                <img src="/assets/portfolio-2.webp" alt="splitlane cycles website preview" height="354px" width="590px" style="max-width: 100%;" crossorigin="anonymous">
            </div>
            <div class="portfolio-image" data-id="3">
                <img src="/assets/portfolio-3.webp" alt="roy ross plumbing website preview" height="354px" width="590px" style="max-width: 100%;" crossorigin="anonymous">
            </div>
        </div>
        <div class="portfolio-content">
            <div class="nav">
                <div class="nav-item active" data-id="1">Villanova Landscaping</div>
                <div class="nav-item" data-id="2">Split Lane Cycles</div>
                <div class="nav-item" data-id="3">Roy Ross Plumbing</div>
            </div>
            <div class="project-description active fade-in" data-id="1">
                <div class="mobile-image">
                    <img src="/assets/portfolio-1.webp" alt="villanova landscaping website preview" crossorigin="anonymous">
                </div>
                <h3>Landscaping Web Design</h3>
                <h4>Villanova Landscaping</h4>
                <p>Crafted a modern, user-friendly website for Villanova Landscaping to showcase their services and elevate their online presence. Leveraged responsive design principles to ensure seamless functionality across devices and implemented SEO best practices to drive organic traffic and local visibility.</p>
            </div>
            <div class="project-description" data-id="2">
                <div class="mobile-image">
                    <img src="/assets/portfolio-2.webp" alt="split lane cycles website preview" crossorigin="anonymous">
                </div>
                <h3>Web Application Design</h3>
                <h4>Gym Driven</h4>
                <p>Created a clean, easy-to-navigate website for Gym Driven to showcase their services and elevate their online presence. Leveraged responsive design principles to ensure seamless functionality across devices and implemented SEO best practices to drive organic traffic and local visibility.</p>
            </div>
            <div class="project-description" data-id="3">
                <div class="mobile-image">
                    <img src="/assets/portfolio-3.webp" alt="roy ross plumbing website preview" crossorigin="anonymous">
                </div>
                <h3>Plumbing Web Design</h3>
                <h4>Ray Ross Plumbing</h4>
                <p>Designed a sleek and modern website for Ray Ross Plumbing & Heating to reflect their professionalism and reliability. The design balances aesthetics with functionality, offering a user-friendly experience that showcases their services and builds trust with customers. With a focus on clean visuals and intuitive navigation, this site delivers a polished online presence tailored to their industry.</p>
            </div>
        </div>
    </div>
</section>
<footer>
    <p>Copyright © 2025 Ryan Deming</p>
</footer>